body{
  background-color: black;
}
h3{
  color: white;
}
.container-fluid{
  background-image: url("../images/logopingpong.jpg");
  background-repeat:no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  width:100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -70px;
}
.play{
  background:rgba(0,0,0,0.7);
  text-align: center;
}
